body {
    display: flex;
    background-color: purple;
}

.ikon {
    color: black;
    font-size: 50px; 
    margin-top: 120%;
}

a {
    text-align: center;
}

.box1 {
    background-color: gold;
    width: 23%;
    height: 43em;
    margin: 2%;
    border: 2px solid black;
    transition: transform 0.2s;
    cursor: pointer;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
    transform: scale(1.05);
    border: none;
}

.box2 {
    background-color: orangered;
    width: 23%;
    height: 43em;
    margin: 2%;
    border: 2px solid black;
    transition: transform 0.2s;
    cursor: pointer;
}

.box3 {
    background-color: lightgreen;
    width: 23%;
    height: 43em;
    margin: 2%;
    border: 2px solid black;
    transition: transform 0.2s;
    cursor: pointer;
}

.box4 {
    background-color: lightseagreen;
    width: 23%;
    height: 43em;
    margin: 2%;
    border: 2px solid black;
    transition: transform 0.2s;
    cursor: pointer;
}